<footer>
  <small>({{^enable_js}}no javascript - {{/enable_js}}no cookies - no web analytics trackers - no external resources - open sourced)</small>

  <small>
    Copyright 2019-2020 arqma.com & ryo-currency.com & EvolutionProject.space |
    <a href="https://github.com/babycoin-project/evox-blockchain">source code</a>
    | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
    | Evolution version: {{evolution_version_full}}
  </small>
  <small>
    Forked from: <a target="_blank" href="https://github.com/moneroexamples/onion-monero-blockchain-explorer">onion-monero-blockchain-explorer</a>
  </small>
</footer>
</div>
</body>
</html>
