<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/favicon-16x16.png">
    <link rel="manifest" href="//ryo-currency.com/site.webmanifest">
    <link rel="mask-icon" href="//ryo-currency.com/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Evolution Currency">
    <meta name="application-name" content="Evolution Currency">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>BABYCOIN Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

    {{#js_files}}{{/js_files}}

</head>
<body>
  <div class="container">
    <header>

  <div class="logo">

	<a href="https://babycoin-network.org/">

      </div>

      <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
	<ul class="pure-menu-list">
	  <li class="pure-menu-item"><a href="/" class="pure-menu-link">Main page</a></li>
	  <li class="pure-menu-item"><a href="/txpool" class="pure-menu-link">Transaction pool</a></li>
<!--	  <li class="pure-menu-item"><a href="/rawtx" class="pure-menu-link">Transaction pusher</a></li>
	  <li class="pure-menu-item"><a href="/rawkeyimgs" class="pure-menu-link">Key images checker</a></li>
	  <li class="pure-menu-item"><a href="/rawoutputkeys" class="pure-menu-link">Output keys checker</a></li>
	  <li class="pure-menu-item"><a href="/api" class="pure-menu-link">API</a></li> -->
	</ul>
      </div>

      <div class="search">
        <form action="/search" method="get" class="pure-form">
            <input type="text" name="value"
                   placeholder="block height, block hash, transaction hash, public address">
            <input type="submit" value="Search" class="pure-button pure-button-active">
        </form>
      </div>

    </header>
