<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//raw.githubusercontent.com/babycoin-project/babycoin-logo/master/ico%20sizes/favicon-16x16.png">
    <link rel="manifest" href="//ryo-currency.com/site.webmanifest">
    <link rel="mask-icon" href="//ryo-currency.com/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Evolution Currency">
    <meta name="application-name" content="Evolution Currency">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>BABYCOIN Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

    {{#js_files}}{{/js_files}}

</head>
<body>
  <div class="container">
    <header>

  <div class="logo">
<svg version="1.1" id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="New document 1" inkscape:version="0.47 r22583"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
	 height="80px" viewBox="0 0 1216.488 363.422" enable-background="new 0 0 1216.488 363.422" xml:space="preserve">
<defs>
	
	
		<inkscape:perspective  id="perspective10" inkscape:vp_z="744.09448 : 526.18109 : 1" inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 526.18109 : 1" sodipodi:type="inkscape:persp3d" inkscape:persp3d-origin="372.04724 : 350.78739 : 1">
		</inkscape:perspective>
</defs>
<sodipodi:namedview  showgrid="false" inkscape:cy="270.66264" inkscape:cx="276.85688" inkscape:zoom="0.47417135" borderopacity="1.0" bordercolor="#666666" pagecolor="#ffffff" id="base" inkscape:window-maximized="1" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="744" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0">
	</sodipodi:namedview>
<rect id="rect2816" x="61.162" y="113.888" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 106.1644 436.3221)" fill="#E30A17" width="164.572" height="164.571"/>
<path id="path2820" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#E30A17" d="
	M170.842,136.302c0,46.582-37.761,84.342-84.343,84.342c-46.581,0-84.343-37.761-84.343-84.342
	c0-46.582,37.762-84.343,84.343-84.343C133.081,51.959,170.842,89.72,170.842,136.302z"/>
<path id="path2822" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#E30A17" d="
	M285.818,135.222c0,46.582-37.761,84.343-84.342,84.343c-46.582,0-84.343-37.761-84.343-84.343
	c0-46.581,37.761-84.342,84.343-84.342C248.058,50.88,285.818,88.641,285.818,135.222z"/>
<rect x="79.941" y="1.176" fill="#E30A17" width="27.795" height="362.07"/>
<rect x="178.241" y="1.176" fill="#E30A17" width="27.794" height="362.07"/>
<g>
	
		<rect id="rect2816_1_" x="94.792" y="141.424" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 110.6918 426.453)" fill="#FFFFFF" width="97.755" height="97.755"/>
	
		<path id="path2820_1_" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#FFFFFF" d="
		M159.94,154.738c0,27.669-22.431,50.099-50.1,50.099c-27.67,0-50.101-22.43-50.101-50.099c0-27.67,22.431-50.1,50.101-50.1
		C137.51,104.638,159.94,127.068,159.94,154.738z"/>
	
		<path id="path2822_1_" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#FFFFFF" d="
		M228.235,154.096c0,27.669-22.43,50.099-50.098,50.099c-27.67,0-50.101-22.43-50.101-50.099s22.431-50.099,50.101-50.099
		C205.806,103.997,228.235,126.427,228.235,154.096z"/>
</g>
<g>
	
		<rect id="rect2816_2_" x="119.389" y="161.567" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 114.002 419.2343)" fill="#FF0019" width="48.878" height="48.878"/>
	
		<path id="path2820_2_" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#FF0019" d="
		M151.964,168.224c0,13.834-11.215,25.049-25.05,25.049s-25.05-11.215-25.05-25.049c0-13.835,11.215-25.05,25.05-25.05
		S151.964,154.389,151.964,168.224z"/>
	
		<path id="path2822_2_" sodipodi:ry="117.14286" sodipodi:rx="117.14286" sodipodi:cy="400.93362" sodipodi:cx="294.28571" sodipodi:type="arc" fill="#FF0019" d="
		M186.111,167.904c0,13.834-11.215,25.05-25.049,25.05c-13.835,0-25.05-11.215-25.05-25.05s11.215-25.049,25.05-25.049
		C174.896,142.854,186.111,154.069,186.111,167.904z"/>
</g>
<rect x="357.488" y="93.422" fill="none" width="917" height="279"/>
<text transform="matrix(1 0 0 1 357.4883 235.4202)" font-family="'MyriadPro-Bold'" font-size="200">BabyCoin</text>
</svg>

      </div>

      <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
	<ul class="pure-menu-list">
	  <li class="pure-menu-item"><a href="/" class="pure-menu-link">Main page</a></li>
	  <li class="pure-menu-item"><a href="/txpool" class="pure-menu-link">Transaction pool</a></li>
<!--	  <li class="pure-menu-item"><a href="/rawtx" class="pure-menu-link">Transaction pusher</a></li>
	  <li class="pure-menu-item"><a href="/rawkeyimgs" class="pure-menu-link">Key images checker</a></li>
	  <li class="pure-menu-item"><a href="/rawoutputkeys" class="pure-menu-link">Output keys checker</a></li>
	  <li class="pure-menu-item"><a href="/api" class="pure-menu-link">API</a></li> -->
	</ul>
      </div>

      <div class="search">
        <form action="/search" method="get" class="pure-form">
            <input type="text" name="value"
                   placeholder="block height, block hash, transaction hash, public address">
            <input type="submit" value="Search" class="pure-button pure-button-active">
        </form>
      </div>

    </header>
